{{#if error}}
<div class="alert alert-danger" role="alert">
    {{#each error}}
    {{this}}
    {{/each}}
</div>
{{/if}}

<h1 class="text-center">Admin painel</h1>


<div class="container mt-4">
    <!-- Card de Usuário 1 -->
    {{#each users}}
    <div class="card mb-3">
        <div class="row g-0">
            <!-- Foto do Usuário -->
            <div class="col-md-4">
                <img src="{{this.image_link}}" class="img-fluid rounded-start" alt="Profile user">
            </div>
            <!-- Informações do Usuário -->
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">{{this.username}}</h5>

                    <p><strong>Created at:</strong> <span class="text-muted">{{this.created_at}}</span></p>
                    <p><strong>Updated at:</strong> <span class="text-muted">{{this.updated_at}}</span></p>
                    <form action="/admin/users/{{this.id}}/delete" method="post"><button type="submit" class="btn btn-danger">Delete</button></form>
                </div>
            </div>
        </div>
    </div>
    {{/each}}

</div>

