    {{#if error}}
        <div class="alert alert-danger" role="alert">
        {{#each error}}
            {{this}}
        {{/each}}
        </div>
    {{/if}}

 
  
<div class="container-fluid px-4 py-5 my-5 text-center">
    <div class="lc-block d-block mx-auto mb-4">

    </div>
    <div class="lc-block">
        <div editable="rich">

            <h2 class="display-5 fw-bold">Welcome to blog do dev!</h2>

        </div>
    </div>
    <div class="lc-block col-lg-6 mx-auto mb-4">
        <div editable="rich">
            <p class="lead ">
                This project is a blog developed with the goal of consolidating backend knowledge. It covers various features such as session-based authentication, route security with RBAC,
                post management, like system, image uploads, and much more! All of this is implemented with modern technologies like Express, bcrypt, Cloudinary, and Handlebars.
            </p>
        </div>
    </div>

    <div class="lc-block d-grid gap-2 d-sm-flex justify-content-sm-center"> 
        <a class="btn btn-primary btn-lg px-4 gap-3" href="/posts/article/create" role="button">Create Article</a>
        <a class="btn btn-outline-secondary btn-lg px-4" href="/posts/project/create" role="button">Create Project</a>
    </div>
</div>
 
 
  

<div class="container my-5">
{{#if articles}}
    <nav aria-label="Page navigation example">
        <ul class="pagination mx-auto">
            <li class="page-item"><a class="page-link" href="?post_type=project">Projects</a></li>
            {{#each paginationValues}}
                <li class="page-item"><a class="page-link" href="?offset={{this.index}}">{{this.tab}}</a></li>
            {{/each}}
        </ul>
    </nav>
{{/if}}

</div>

<div class="container my-5">
{{#if projects}}
    <nav aria-label="Page navigation example">
        <ul class="pagination mx-auto">
            <li class="page-item"><a class="page-link" href="?post_type=article">Article</a></li>
            {{#each paginationValues}}
                <li class="page-item"><a class="page-link" href="?post_type=project&offset={{this.index}}">{{this.tab}}</a></li>
            {{/each}}
        </ul>
    </nav>
{{/if}}

</div>


{{#each articles}}

    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-10">
                <!-- Card do post -->
                <div class="card border-0 border-bottom border-2 rounded-0 mb-4 shadow-sm">
                    <div class="card-body d-flex flex-column flex-md-row justify-content-between align-items-start gap-3">

                        <!-- Texto do post -->
                        <div class="flex-grow-1">
                            <!-- Autor -->
                            <div class="d-flex justify-content-between align-items-center">
                                <p class="lead">
                                <img src="{{this.op_image_link}}" class="img-thumbnail" width="40" height="40"> 
                                By <a href="/profile/{{this.op_id}}/{{this.op_name}}"> <strong>{{this.op_name}}</strong> </a> </p>
                                <p><small><i>Criado em: {{ this.created_at }}</i></small></p>
                            </div>

                            <!-- Conteúdo -->
                            <h5 class="card-title fw-bold mb-2">{{this.title}}</h5>

                            <!-- Ações -->
                            <div class="d-flex align-items-center justify-content-between">
                                {{#if this.likes_count}}
                                    <i class="bi bi-hand-thumbs-up"> <small class="text-muted"> {{this.likes_count}} likes</small> </i>
                                {{else}}
                                    <i class="bi bi-hand-thumbs-up"> <small class="text-muted"> 0 likes</small> </i>
                                {{/if}}
                                <a href="/posts/article/{{this.id}}/{{this.slug}}" class="btn btn-sm btn-outline-dark">Keep reading</a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

{{/each}}


{{#each projects}}
    <div class="container my-5">
        <div class="row justify-content-center">
            <!-- Post Header -->
            <div class="col-md-12">

                <div class="content bg-white p-4 shadow-sm rounded">

                    <div class="d-flex justify-content-between align-items-center">
                        <p class="lead">
                            <img src="{{this.op_image_link}}" class="img-thumbnail" width="40" height="40">By
                            <a href="/profile/{{this.op_id}}/{{this.op_username}}"> <strong>{{this.op_username}}</strong> </a> 
                        </p>
                        <p><small><i>Published on: {{this.created_at}}</i></small></p>
                    </div>


                    <!-- Status -->
                    <small><i>{{#if pj_is_done}}Completed{{else}}In Progress{{/if}}</i></small>

                    <!-- Title -->
                    <h2 class="display-8">{{this.title}}</h2>

                    <!-- Links -->
                    <p><i class="bi bi-github"></i> <a class="link-opacity-75" href="{{ this.repository_link }}">{{ this.repository_link }}</a></p>
                    
                    {{#if this.deployed_link}}
                        <p><i class="bi bi-globe"></i> <a class="link-opacity-75" href="{{ this.deployed_link }}">{{ this.deployed_link }}</a></p>
                    {{/if}}

                    <!-- Description and Image -->
                    <div>{{this.description}}</div>
                    {{#if this.image_link}}
                        <div><img src="{{this.image_link}}" class="img-fluid" alt="Project image"></div>
                    {{/if}}

                    <!-- Post Footer -->
                    <div class="row mt-4">
                        <div class="col-md-12">
                            <div class="d-flex justify-content-between align-items-center">
                                <div>
                                    <span class="text-muted">Likes: </span>
                                    <strong>{{this.likes_count}}</strong>
                                </div>
                                <a href="/posts/project/{{this.id}}/{{this.slug}}" class="btn btn-sm btn-outline-dark">Keep reading</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
{{/each}}
