{{#if error}}
<div class="alert alert-danger" role="alert">
    {{#each error}}
    {{this}}
    {{/each}}
</div>
{{/if}}

{{#each profile}}
<div class="container mt-5">
    <!-- Login Info -->
    <div class="d-flex justify-content-between align-items-center mb-4">
        <span><strong>Login: </strong>{{ this.email }}</span>
        
    </div>

    <!-- Form 1 -->
    <form method="post" action="/profile/settings/edit-profile">
        <!-- Nome -->
        <div class="mb-3">
            <label for="nome" class="form-label">name:</label>
            <input name="username"
            required type="text" class="form-control" id="nome" value="{{ this.username }}">
        </div>

        <!-- Email de contato -->
        <div class="mb-3">
            <label for="email" class="form-label">Contact email:</label>
            <input name="email" 
            required type="email" class="form-control" id="email" value="{{ this.email }}">
        </div>

        <!-- Description -->
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Description:</label>
            <textarea name="description" 
            class="form-control" id="exampleFormControlTextarea1" rows="3">{{ this.description }}</textarea>
        </div>

        <!-- Confirmar Button -->
        <div class="mb-3 text-center">
            <button name="button"
            value="f1" 
            type="submit" class="btn btn-primary">Send</button>
        </div>
    </form>


    <!-- ACADEMIC BACKGROUND -->

    <form method="post" action="/profile/settings/edit-profile">
        <!-- Major -->
        <div class="mb-3">
            <label for="nome" class="form-label">Major:</label>
            <input name="ac_major"
            required type="text" class="form-control" id="nome" value="{{ this.academic_major }}">
        </div>

        <!-- Institution -->
        <div class="mb-3">
            <label for="nome" class="form-label">Institution:</label>
            <input name="ac_institution"
            required type="text" class="form-control" id="nome" value="{{ this.academic_institution }}">
        </div>

        <!-- Arrival date -->
        <div class="mb-3">
            <label for="nome" class="form-label">Arrival date:</label>
            <input name="ac_arrival_date"
            required type="date" class="form-control" id="nome" value="{{ this.academic_arrival }}">
        </div>

        <!-- Arrival date -->
        <div class="mb-3">
            <label for="nome" class="form-label">Departure date:</label>
            <input name="ac_departure_date"
            type="date" class="form-control" id="nome" value="{{ this.academic_departure }}">
        </div>

        <!-- Description -->
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Description:</label>
            <textarea name="ac_description"
            class="form-control" id="exampleFormControlTextarea1" rows="3"> {{ this.academic_description }} </textarea>
        </div>

        <!-- Confirmar Button -->
        <div class="mb-3 text-center">
            <button name="button"
            value="f2" 
            type="submit" class="btn btn-primary">Send</button>
        </div>
    </form>

    <!-- PROFISSINAL EXPERIENCE -->
    <form method="post" action="/profile/settings/edit-profile">
        <!-- Position -->
        <div class="mb-3">
            <label for="nome" class="form-label">Position:</label>
            <input name="pr_position"
            required type="text" class="form-control" id="nome" value="{{ this.profissional_position }}">
        </div>

        <!-- Enterprise -->
        <div class="mb-3">
            <label for="nome" class="form-label">Enterprise:</label>
            <input name="pr_enterprise"
            required type="text" class="form-control" id="nome" value="{{ this.profissional_enterprise }}">
        </div>

        <!-- Arrival date -->
        <div class="mb-3">
            <label for="nome" class="form-label">Arrival date:</label>
            <input name="pr_arrival"
            required type="date" class="form-control" id="nome" value="{{ this.profissional_arrival }}">
        </div>

        <!-- Arrival date -->
        <div class="mb-3">
            <label for="nome" class="form-label">Departure date:</label>
            <input name="pr_departure"
            type="date" class="form-control" id="nome" value="{{ this.profissional_departure }}">
        </div>

        <!-- Description -->
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Description:</label>
            <textarea name="pr_description"
            class="form-control" id="exampleFormControlTextarea1" rows="3"> {{ this.profissional_description }} </textarea>
        </div>

        <!-- Confirmar Button -->
        <div class="mb-3 text-center">
            <button name="button"
            value="f3" 
            type="submit" class="btn btn-primary">Send</button>
        </div>
    </form>

</div>

{{/each}}