<div class="container">
    {{#if error}}
        <div class="alert alert-danger" role="alert">
        {{#each error}}
            {{this}}
        {{/each}}
        </div>
    {{/if}}

{{#each project}}
    <div class="container mt-4">

        <div class="card-header text-black content-center">
            <h4 class="text-center">Update project!</h4>
        </div>

        <div class="row justify-content-center">
            <div class="col-12 col-md-8">
                <form method="post" action="/posts/project/{{this.id}}/slug/edit" enctype="multipart/form-data">
    
                    <div class="mb-3">
                        <label for="titulo" class="form-label">Project title</label>
                        <input name="title" value="{{this.title}}"
                        required type="text" class="form-control" id="titulo do projeto"
                        placeholder="Project title">
                    </div>
    
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="input1">Github link</label>
                            <input name="repository_link" value="{{this.repository_link}}"
                            required type="text" class="form-control" id="input1"
                                placeholder="https://github.com/your-name/project-name">
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="input2">Site link (optional)</label>
                            <input name="deployed_link" value="{{this.deployed_link}}"
                            type="text" class="form-control" id="input2" placeholder="deploy link">
                        </div>
                    </div>
    
                    <div class="mb-3">
                        <label for="situacao" class="form-label">Project state:</label>
                        <select name="is_done"
                        class="form-select" id="situacao">
                            <option selected value="0">In development</option>
                            <option value="1">finished</option>
                            <!-- Outras opções podem ser adicionadas aqui -->
                        </select>
                    </div>
    
                    <div class="mb-3">
                        <label for="imagem" class="form-label">Imagem:</label>
                        <input name="image" 
                        class="form-control" type="file" id="imagem">
                    </div>
    
                    <div class="mb-3">
                        <label for="resumo" class="form-label">Project overview:</label>
                        <textarea name="description" 
                        class="form-control" id="resumo" rows="4" placeholder="Project overview">{{this.description}}</textarea>
                    </div>
    
                    <button type="submit" class="btn btn-primary">Postar</button>
    
                </form>
            </div>
        </div>
    
    
    </div>
{{/each}}


</div>


