<div class="container">

    {{#if error}}
        <div class="alert alert-danger" role="alert">
        {{#each error}}
            {{this}}
        {{/each}}
        </div>
    {{/if}}

    {{#each article}}
        <div class="container mt-5 ">
            <!-- Post Header -->
            <div class="row">
                        <div class="d-flex justify-content-between align-items-center">
                            <p class="lead"><img src="{{op_img_link}}" class="img-thumbnail" width="40" height="40"> 
                            Por <a href="/profile/{{this.op_id}}/{{this.op_name}}"> <strong>{{ this.op_name}}</strong> </a> </p>
                        <p><small><i>Criado em: {{ this.created_at }}</i></small></p>
                    </div>
                    <div class="col-md-12">
                        <h1 class="display-4">{{ this.title }}</h1>
                        <!--<p><small><i>Publicado em: {{ this.slug }}</i></small></p>-->
                    </div>
            </div>

            <!-- Post Content -->
            <div class="row">
                <div class="col-md-12">
                    <div class="content bg-white p-4 shadow-sm rounded">
                        <div>{{{ this.content }}}</div>
                    </div>
                </div>
            </div>

            <!-- Post Footer -->
            <div class="row mt-4">
                <div class="col-md-12">
                    <div class="d-flex justify-content-between align-items-center">
                        <div>
                            <form action="/posts/article/{{this.id}}/{{this.slug}}/like" method="post">
                                <button type="submit" class="btn btn-link bi bi-hand-thumbs-up"></button>
                            </form>
                            <small class="text-muted"> {{this.likes_count}} likes</small>
                            <strong>0</strong>
                        </div>
                        <div>
                            <img src="{{  'https://via.placeholder.com/30'}}" alt="Autor" class="rounded-circle" width="30"
                                height="30">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {{/each}}


</div>

